<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="{{url_for('static', filename='style.css')}}" defer rel="stylesheet">
      <title>Group 28 synoptic</title>
   </head>
   <body>
      <div class="locationFinder">
         <p>you are on the group 28 synoptic project website!</p>
         <form>
            <div class="grid-fields">
               <label for="latitude">latitude:</label>
               <input type="text" id="latitude" name="latitude" value="26.2056">
               <label for="longitude">longitude:</label>
               <input type="text" id="longitude" name="longitude" value="28.0337">
            </div>
            <input type="submit" id="submit" value="Submit">
         </form>

      </div>
      
      <div id="content">
         
      </div>
      <script src="{{url_for('static', filename='index.js')}}" defer></script>
   </body>
   </html>