<!DOCTYPE html>
<html>
   <head>
      <script src="{{url_for('static', filename='index.js')}}"></script>
   </head>
   <body>
      <p>you are on the group 28 synoptic project website!</p>

      <form method="post">
         <label for="latitude">latitude:</label><br>
         <input type="text" id="latitude" name="latitude" value="26.2056"><br>
         <label for="longitude">longitude:</label><br>
         <input type="text" id="longitude" name="longitude" value="28.0337"><br><br>
         <input type="submit" value="Submit">
      </form>
   </body>
</html>